Hello <%= ownerName %>,<br/>
<%= vaName %> would like to invite you to join their Virtual Airline.<br/>
Please click <a href="<%= inviteLink %>">here</a> or copy and paste the link below into Your browser to accept the invitation.
<br/><br/>

<%= inviteLink %> <br/><br/>