@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

html,
body {
  font-family: 'Cinzel', serif;
}

#HomeLayout #Logo {
    margin-top: 50%;
}

#AlertsContainer {
    float: right;
    z-index: 1000;
    margin-right: 25px;
    position: absolute;
    right: 0;
}

.form-floating > label {
    color: white;
}

.form-floating > input.form-control,
.form-floating > input.form-control:disabled {
    background-color: #333333;
    color: white;
}